name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Release
        uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GH_PAT || secrets.GITHUB_TOKEN }}
          release-type: node
